@page "/chat/{userName}"
@inject ITelegramService TelegramService
@inject IBotService BotService;
@inject IManagerService ManagerService

<PageTitle>Chat</PageTitle>
@if (!string.IsNullOrEmpty(bot.Token))
{
    <div class="common_block">
        <div class="main_block">
            <SelectChat OnClickCallback="@GetMessages" managersList="managersList" token="@bot.Token"></SelectChat>
        </div>
        <div class="main_block_two @styleTwoBlock">
            <Messages chatModel="@chatModel" ShowOrHideRightCallback="ShowOrHideRightTab" token="@bot.Token"></Messages>
        </div>
        <div class="main_block_three @styleThreeBlock">
            <PartnerInfo chatModel="@chatModel" managersList="managersList"></PartnerInfo>
        </div>
    </div>
}

@code {
    [Parameter]
    public string userName { get; set; }

    public Bot? bot;
    public Domain.Models.Chats.Chat chatModel;
    public List<Manager> managersList { get; set; } = new List<Manager>();

    //style class
    public string styleTwoBlock = "twoBlock";
    public string styleThreeBlock = "threeBlock";

    protected override async Task OnInitializedAsync()
    {
        bot = BotService.GetByUsername(userName);
    }

    private void GetMessages(long ChatId)
    {
        chatModel = TelegramService.GetChatByIdIncludeMessages(ChatId);
        managersList = ManagerService.GetAll();
    }

    private void ShowOrHideRightTab()
    {
        if (styleTwoBlock == String.Empty && styleThreeBlock == String.Empty)
        {
            styleTwoBlock = "twoBlock";
            styleThreeBlock = "threeBlock";
        }
        else
        {
            styleTwoBlock = "";
            styleThreeBlock = "";
        }
    }

}
