@page "/chat/{userName}"
@inject ITelegramService TelegramService
@inject IBotService BotService;

<PageTitle>Chat</PageTitle>
@if (!string.IsNullOrEmpty(bot.Token))
{
    <div class="common_block">
        <div class="main_block">
            <SelectChat OnClickCallback="@GetMessages" token="@bot.Token"></SelectChat>
        </div>
        <div class="main_block_two @styleTwoBlock">
            <Messages chatModel="chatModel" ShowOrHideRightCallback="ShowOrHideRightTab" token="@bot.Token"></Messages>
        </div>
        <div class="main_block_three @styleThreeBlock">
            <PartnerInfo chatModel="chatModel"></PartnerInfo>
        </div>
    </div>
}

@code {
    [Parameter]
    public string userName { get; set; }

    public Bot? bot;
    public Domain.Models.Chat chatModel;

    //style class
    public string styleTwoBlock = "twoBlock";
    public string styleThreeBlock = "threeBlock";

    protected override async Task OnInitializedAsync()
    {
        bot = BotService.GetByUsername(userName);
    }

    private void GetMessages(long ChatId)
    {
        chatModel = TelegramService.GetChatsByIdIncludeMessages(ChatId);
    }

    private void ShowOrHideRightTab()
    {
        if (styleTwoBlock == String.Empty && styleThreeBlock == String.Empty)
        {
            styleTwoBlock = "twoBlock";
            styleThreeBlock = "threeBlock";
        }
        else
        {
            styleTwoBlock = "";
            styleThreeBlock = "";
        }
    }

}
