@switch (ImageList.Count())
{
    case 1:
        <div class="picture_block_sender">
            <div class=picture_one> <img src="@ImageList[0].FilePath" /></div>
        </div>
        break;
    case 2:
        <div class="picture_block_sender">
            <div class="picture_two"><img src="@ImageList[0].FilePath" /></div>
            <div class="picture_two"><img src="@ImageList[1].FilePath" /></div>
        </div>
        break;
    case 3:
        <div class="picture_block_sender">
            <div>
                <div class="picture_three"> <img src="@ImageList[0].FilePath" /></div>
                <div class="picture_three"><img src="@ImageList[1].FilePath" /></div>
            </div>
            <div class="picture_three_one"><img src="@ImageList[2].FilePath" /></div>
        </div>
        break;
    case 4:
        <div class="picture_block_sender">
            <div class="block_one">
                <div class="picture_four"><img src="@ImageList[0].FilePath" /></div>
                <div class="picture_four"><img src="@ImageList[1].FilePath" /></div>
            </div>
            <div>
                <div class="picture_four"><img src="@ImageList[2].FilePath" /></div>
                <div class="picture_four"><img src="@ImageList[3].FilePath" /></div>
            </div>
        </div>
        break;
    case 5:
        <div class="picture_block_sender">
            <div class="one_block_five">
                <div class="picture_five"> <img src="@ImageList[0].FilePath" /></div>
                <div class="picture_five"> <img src="@ImageList[1].FilePath" /></div>
            </div>
            <div class="two_block_five">
                <div class="picture_five"> <img src="@ImageList[2].FilePath" /></div>
                <div class="picture_five"> <img src="@ImageList[3].FilePath" /></div>
                <div class="picture_five"> <img src="@ImageList[4].FilePath" /></div>
            </div>
        </div>
        break;
}

@code {
    [Parameter]
    public List<Attachment> ImageList { get; set; }
}
