@page "/"
@using TelegramChatBlazor.Domain.Abstract.Services

<PageTitle>Chat</PageTitle>

@inject ITelegramService TelegramService


@if (listMessage == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="common_block">
        <div class="main_block">
            <div class="text_messages">
                Messanges
            </div>
            <div class="chats_content">
                @foreach (var item in listMessage)
                {
                    <div class="messange_block">
                        <div class="avatar">
                            <div class="img_messange">
                            </div>
                        </div>
                        <div class="sender_name">
                            @item.FirsiName
                        </div>
                        <div class="sms_content">
                            @item.Text
                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="main_block_two">
            <div class="companion_block">
                <div class="companion_img">
                    <div class="companion_picture"></div>
                </div>
                <div class="name_companion">
                    Alex Tsipjv
                </div>
                <div class="last_online">
                    last online
                </div>
            </div>
        </div>
        <div class="main_block_three">
        </div>
    </div>















    @*    @foreach (var item in listMessage)
        {
        <div>
        <h1>@item.ChatId</h1>
        <h1>@item.FirsiName</h1>
        <h1>@item.UserName</h1>
        <h1>@item.Text</h1>
        <h1>@item.IsSender</h1>
        <br>
        </div>
        }*@

}

@code {
    private List<Domain.Models.Message> listMessage = new List<Domain.Models.Message>();

    protected override async Task OnInitializedAsync()
    {
        listMessage = TelegramService.GetChat();
    }
}
